<!DOCTYPE html>
//NOC and SOC team
    //Introduction and hierarchy
    $(function() {
        $('#Intoduction_hierarchy').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" </iframe>');
            }
        });


//Roles and Responsibilities
    $(function() {
        $('#Role_and_Responsibilities').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe"</iframe>');
            }
        });
        });