<!DOCTYPE html>
<html>
<title>NaSMS.lastminute.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
        overflow: hidden;
        background-color: #333;
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: red;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script type="text/javascript">
    //NOC and SOC team
    //Introduction and hierarchy
    $(function() {
        $('#Intoduction_hierarchy').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://drive.google.com/file/d/1tUjTFYEQeZWJzuo1IJNY3CrHmFh5jorF/view?usp=sharing" width="1100" height="600"></iframe>');
            }
        });

    ///Roles and Responsibilities
    });
    $(function() {
        $('#Role_and_Responsibilities').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/presentation/d/1ohPQupiHe45AR9wq5xDJHEDjU8re4oijhdfv2Ezh4bA/edit#slide=id.g4cf5cfa1f4_0_0" width="1100" height="600"></iframe>');
            }
        });
    });
    //List of NOC SRs
    $(function() {
        $('#List_of_NOC_SRs').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1njGdMcWgnLFTNv-UootWRe4-WG2MXaMq2pspwxNJ48M/edit#gid=1815928367" width="1100" height="600"></iframe>');
            }
        });
    });
    //NOC rules of engagement
    $(function() {
        $('#NOC-RoleOfEngegment').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Volumes/GoogleDrive/Shared%20drives/NOC%20Team%20Leads%20&%20Manager/lm%20NaSMS%20/code/Lm%20NasMS/New%20One/IA.html" height="600"></iframe>');
            }
        });
    });
    //Improvement Area Tracker
    $(function() {
        $('#IA_trcker').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Volumes/GoogleDrive/Shared%20drives/NOC%20Team%20Leads%20&%20Manager/lm%20NaSMS%20/code/Lm%20NasMS/New%20One/IA.html"></iframe>');
            }
        });

    });
    //Monitoring Tracker
    $(function() {
        $('#Monitoring_trcker').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Users/smohan/Desktop/Lm%20NasMS/IA.html" width="1100" height="600"></iframe>');
            }
        });

    });
    //Tracking sheet
    $(function() {
        $('#Tracking_sheet').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1yNn9fC6CbARm1icJg1IctnN85_nP_giECXZ5eeFSsrI/edit#gid=1182321163" width="1100" height="600"></iframe>');
            }
        });

    });
    //Handover + Standard Handover
    $(function() {
        $('#Handover').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Volumes/GoogleDrive/Shared%20drives/NOC%20Team%20Leads%20&%20Manager/lm%20NaSMS%20/code/Lm%20NasMS/New%20One/handover.html" width="1100" height="600"></iframe>');
            }
        });

    });
    //Flight Operations Task Tracker
    $(function() {
        $('#FI_Ops_Tracker').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Volumes/GoogleDrive/Shared%20drives/NOC%20Team%20Leads%20&%20Manager/lm%20NaSMS%20/code/Lm%20NasMS/New%20One/FO.html" width="1100" height="600"></iframe>');
            }
        });

    });
    //Flowpaper Tracker
    $(function() {
        $('#Flowpaper_trcker').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1Wa8wkaUzzFlJgCu_JpFB_gyApMDxzZBM7ePK6lwO2Nc/edit#gid=0" width="1100" height="600"></iframe>');
            }
        });

    });
    //NOC Details Tracker
    $(function() {
        $('#NOC_Details_trcker').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Volumes/GoogleDrive/Shared%20drives/NOC%20Team%20Leads%20&%20Manager/lm%20NaSMS%20/code/Lm%20NasMS/New%20One/Noc%20Details%20page.html" width="1100" height="600"></iframe>');
            }
        });

    });
    //Holidays and Vacations
    $(function() {
        $('#Holidays').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1yNn9fC6CbARm1icJg1IctnN85_nP_giECXZ5eeFSsrI/edit#gid=624493983" width="1100" height="600"></iframe>');
            }
        });

    });
    //Vacations updates
    $(function() {
        $('#Vacation').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Volumes/GoogleDrive/Shared%20drives/NOC%20Team%20Leads%20&%20Manager/lm%20NaSMS%20/code/Lm%20NasMS/New%20One/Vacation.html" width="1100" height="600"></iframe>');
            }
        });

    });
    //Internet Bills Tracker
    $(function() {
        $('#Internet_Bill').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1OFfj-hwCSd3Ulfqyvsmx_LFgCRA3MGrAGYzMzc0t-j4/edit#gid=0" width="1100" height="600"></iframe>');
            }
        });

    });
    //NOC and SOC Rota
    $(function() {
        $('#NOC_Rota').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1y-o1powcCM14tvWUO7wwMuaVMCmOwXGpDaxZdbjAaCc/edit#gid=356229212" width="1100" height="600"></iframe>');
            }
        });

    });
    //Access
    //Joining Formalities
    $(function() {
        $('#joining').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1qAacflbIbkl4h5Hcsz8t7h1SJdzFxXCZ7Uy-sxXlPl4/edit#gid=936936833" width="1100" height="600"></iframe>');
            }
        });

    });
    //Access to be given
    $(function() {
        $('#Access_to_be_Given').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1qAacflbIbkl4h5Hcsz8t7h1SJdzFxXCZ7Uy-sxXlPl4/edit#gid=140645918" width="1100" height="600"></iframe>');
            }
        });

    });
    //Default access
    $(function() {
        $('#Defalut_Access').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1qAacflbIbkl4h5Hcsz8t7h1SJdzFxXCZ7Uy-sxXlPl4/edit#gid=372210415" width="1100" height="600"></iframe>');
            }
        });

    });
    //Access not important
    $(function() {
        $('#Access_Not_Important').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1qAacflbIbkl4h5Hcsz8t7h1SJdzFxXCZ7Uy-sxXlPl4/edit#gid=1837705700" width="1100" height="600"></iframe>');
            }
        });

    });
    //Training Tracker
    $(function() {
        $('#Training_Tracker').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1qAacflbIbkl4h5Hcsz8t7h1SJdzFxXCZ7Uy-sxXlPl4/edit#gid=1828282613" width="1100" height="600"></iframe>');
            }
        });

    });
    //List of trainings
    $(function() {
        $('#List_of_Trainings').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1qAacflbIbkl4h5Hcsz8t7h1SJdzFxXCZ7Uy-sxXlPl4/edit#gid=454558955" width="1100" height="600"></iframe>');
            }
        });

    });
    //Trainings - General activities
    $(function() {
        $('#General_activities').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Users/smohan/Desktop/Lm%20NasMS/IA.html" width="1100" height="600"></iframe>');
            }
        });

    });
    //General shift trainings
    $(function() {
        $('#GeneralShift_Tranings').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1qAacflbIbkl4h5Hcsz8t7h1SJdzFxXCZ7Uy-sxXlPl4/edit#gid=1646537078" width="1100" height="600"></iframe>');
            }
        });

    });
    //Daily Time tracker
    $(function() {
        $('#Areas').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Users/smohan/Desktop/Lm%20NasMS/Bhanu%20copy.html" width="1100" height="600"></iframe>');
            }
        });

    });
    //Individual Time Tracker
    $(function() {
        $('#Indivadul_Time_Tracker').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Volumes/GoogleDrive/Shared%20drives/NOC%20Team%20Leads%20&%20Manager/lm%20NaSMS%20/code/Lm%20NasMS/New%20One/Bhanu%20copy.html" width="1100" height="600"></iframe>');
            }
        });

    });
    $(function() {
        $('#Leads_To_do').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/1ynp8SQhIjJqnWj7wJEYEwOB8zzxMxBG-DCjB6qKogYA/edit#gid=909311183 width="1100" height="600"></iframe>');
            }
        });

    });
    //Points to be discussed
    $(function() {
        $('#Point_to_be_Disscussed').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Users/smohan/Desktop/Lm%20NasMS/IA.html" width="1100" height="600"></iframe>');
            }
        });

    });
    //Campus to corporate
    $(function() {
        $('#New_Joinee_Induction').click(function() {
            if (!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id="iframe" src="file:///Users/smohan/Desktop/Lm%20NasMS/IA.html" width="1100" height="600"></iframe>');
            }
        });

    });
</script>

<body class="w3-light-grey">

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <span class="w3-bar-item w3-right">Lm NaSMS</span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                <img src="file:///Users/smohan/Desktop/Lm%20NasMS/User%20profile%20pic.png" class="w3-circle w3-margin-right" style="width:46px">
            </div>
            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong>Surendra</strong></span><br>
                <a href="https://mail.google.com/mail/u/0/#inbox" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="https://mail.google.com/chat/u/0/#chat/welcome" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h5>Menu</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu">
                <i class="fa fa-remove fa-fw"></i> Menu</a>
            <!-- NOC and SOC team -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown"><i class="fa fa-users fa-fw" class="fa fa-caret-down"></i>  NOC and SOC team</a>
                    <div class="dropdown-content">
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="Intoduction_hierarchy"> Introduction and hierarchy</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="Role_and_Responsibilities"> Roles and Responsibilities</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="List_of_NOC_SRs"> List of NOC SRs</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="NOC-RoleOfEngegment"> NOC rules of engagement</a>
                    </div>
                </div>
            </div>
            <!-- NOC work distribution sheet -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown"><i class="fa fa-eye fa-fw" class="fa fa-caret-down"></i>  NOC work distribution sheet</a>
                    <div class="dropdown-content">
                        <a class="w3-bar-item w3-button w3-padding" target="iframe" id="IA_trcker">Improvement Area Tracker [S]</a>
                        <a class="w3-bar-item w3-button w3-padding" target="iframe" id="Monitoring_trcker">Monitoring Tracker</a>
                        <a class="w3-bar-item w3-button w3-padding" target="iframe" id="Tracking_sheet">Tracking sheet </a>
                        <a class="w3-bar-item w3-button w3-padding" target="iframe" id="Handover">Handover + Standard Handover [G]</a>
                        <a class="w3-bar-item w3-button w3-padding" target="iframe" id="FI_Ops_Tracker">Flight Operations Task Tracker [P]</a>
                        <a class="w3-bar-item w3-button w3-padding" target="iframe" id="Flowpaper_trcker">Flowpaper Tracker</a>
                        <a class="w3-bar-item w3-button w3-padding" target="iframe" id="NOC_Details_trcker">NOC Details Tracker [G]</a>
                    </div>
                </div>
            </div>

            <!-- Holidays and Vacations -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown"><i class="fa fa-users fa-fw" class="fa fa-caret-down"></i>  Holidays and Vacations</a>
                    <div class="dropdown-content">
                        <a class="w3-bar-item w3-button w3-padding" id="Holidays" target="iframe">Holidays (lm and Infogain)</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="Vacation">Vacations updates [V]</a>
                    </div>
                </div>
            </div>

            <!-- Internet Bills Tracker -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown" id="Internet_Bill" target="iframe"><i class="fa fa-bullseye fa-fw" class="fa fa-caret-down" ></i> Internet Bills Tracker</a>
                </div>
            </div>

            <!-- NOC and SOC Rota -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown" id="NOC_Rota" target="iframe"><i class="fa fa-diamond fa-fw" class="fa fa-caret-down"></i>  NOC and SOC Rota</a>
                </div>
            </div>

            <!-- Access -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown"><i class="fa fa-diamond fa-fw" class="fa fa-bell fa-fw"></i> Access</a>
                    <div class="dropdown-content">
                        <a href="#" class="w3-bar-item w3-button w3-padding" id="joining" target="iframe">Joining Formalities</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" id="Access_to_be_Given" target="iframe">Access to be given</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" id="Default_Access" target="iframe">Default access</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" id="Access_Not_Important" target="iframe">Access not important</a>
                    </div>
                </div>
            </div>

            <!-- Trainings -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown"><i class="fa fa-diamond fa-fw" class="fa fa-bank fa-fw"></i>  Trainings</a>
                    <div class="dropdown-content">
                        <a href="#" class="w3-bar-item w3-button w3-padding" id="Training_Tracker" target="iframe">Training Tracker</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" id="List_of_Trainings" target="iframe">List of trainings</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" id="General_activities" target="iframe">Trainings - General activities</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" id="GeneralShift_Tranings" target="iframe">General shift trainings</a>
                    </div>
                </div>
            </div>

            <!-- Daily Time tracker -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown"><i class="fa fa-diamond fa-fw" class="fa fa-history fa-fw"></i>  Daily Time tracker</a>
                    <div class="dropdown-content">
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="Areas">Areas</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="Indivadul_Time_Tracker">Individual Time Tracker [B]</a>
                    </div>
                </div>
            </div>

            <!-- Leads to do -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown"><i class="fa fa-diamond fa-fw" class="fa fa-cog fa-fw"></i>  Leads to do</a>
                    <div class="dropdown-content">
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="Point_to_be_Disscussed">Points to be discussed</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding">****</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding">####</a>
                    </div>
                </div>
            </div>

            <!-- Noc New Joinee Induction -->
            <div class="navbar">
                <div class="dropdown">
                    <a href="#" class="w3-bar-item w3-button w3-padding" class="dropbtn" class="dropdown"><i class="fa fa-users fa-fw" class="fa fa-cog fa-fw"></i>  NOC new Joinee Induction</a>
                    <div class="dropdown-content">
                        <a href="#" class="w3-bar-item w3-button w3-padding" target="iframe" id="New_Joinee_Induction">Campus to corporate</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding">****</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding">####</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
        </header>
        <h6> NOC team is developing the tool as a proof of concept. For more details please contact NOC & SOC 24x7 - lmnservicedesk@lastminute.com </h6>

        <div id="iframeHolder"></div>
        <!-- End page content -->
    </div>

</body>

</html>